version: 2
jobs:
  build:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout

      - restore_cache:
          key: v1-dependency-cache-{{ checksum "pyproject.toml" }}-{{ checksum "liquepy/__about__.py" }}

      - run:
          name: install python dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install cython
            pip install .[test]
            pip install -r deploy-requirements.txt
      - save_cache:
          key: v1-dependency-cache-{{ checksum "pyproject.toml" }}-{{ checksum "liquepy/__about__.py" }}
          paths:
            - "venv"

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            pytest tests
            codecov
      - store_artifacts:
          path: htmlcov/
  deploy:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout

      - restore_cache:
          key: v1-dependency-cache-{{ checksum "pyproject.toml" }}-{{ checksum "liquepy/__about__.py" }}

      - run:
          name: install python dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install cython
            pip install .[test]
            pip install -r deploy-requirements.txt
      - save_cache:
          key: v1-dependency-cache-{{ checksum "pyproject.toml" }}-{{ checksum "liquepy/__about__.py" }}
          paths:
            - "venv"

      - run:
          name: init .pypirc
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = $PYPI_USERNAME" >> ~/.pypirc
            echo -e "password = $PYPI_PASSWORD" >> ~/.pypirc
      - run:
          name: create packages
          command: |
            python setup.py sdist
      - run:
          name: upload to pypi
          command: |
            . venv/bin/activate
            twine upload dist/*
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/